.nono-gpt-extension {
  height: 24px;
  width: 24px;
  display: none;
  position: absolute;
  /* background: black; */
}

.nono-gpt-extension__trigger-button {
  height: 24px;
  width: 24px;
  padding: 0;
  color: white;
  border: none;
  background-color: black;
  border-radius: 3px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #222;
  cursor: pointer;
}

.nono-gpt-extension__trigger-button > svg {
  width: 16px;
}

.nono-gpt-extension__trigger-button:hover {
}

.nono-gpt-extension__trigger-button:focus {
  outline: none;
}

.nono-gpt-extension__annotation-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  mine-height: 180px;
  background-color: white;
  border: 1px solid #222;
  box-shadow: 4px 4px 0px 0 rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  display: none;
}

.nono-gpt-extension__origin_text,
.nono-gpt-extension__result {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 8px;
  font-size: 13px;
  color: #444;
  line-height: 18px;
}

.nono-gpt-extension__action_buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 12px 0;
}

.nono-gpt-extension__action_buttons > button {
  margin-right: 8px;
  border-radius: 5px;
  padding: 6px 10px;
  border: none;
  background-color: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  text-transform: capitalize;
  height: 28px;
}

.nono-gpt-extension__action_buttons > button:hover {
  background-color: #333;
}

.nono-gpt-extension__action_buttons > button:focus {
  outline: none;
}

.nono-gpt-extension__action_buttons > button > span {
  margin-left: 4px;
  padding: 2px 4px;
  background-color: #555;
  border-radius: 2px;
  font-size: 10px;
  height: 16px;
  display: flex;
  align-items: center;
}
