.main {
  height: 24px;
  width: 24px;
  display: none;
  position: absolute;
  /* background: black; */
}

.trigger-button {
  height: 24px;
  width: 24px;
  padding: 0;
  color: white;
  border: none;
  background-color: black;
  border-radius: 3px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #222;
  cursor: pointer;
}

.trigger-button > svg {
  width: 16px;
}

.trigger-button:hover {
}

.trigger-button:focus {
  outline: none;
}

.annotation-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  background-color: white;
  border: 1px solid #222;
  box-shadow: 4px 4px 0px 0 rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  display: none;
}

.origin_text_container,
.result {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 8px;
  font-size: 13px;
  color: #444;
  line-height: 18px;
}

.origin_text_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.origin_text_delete_button {
  flex: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1px;
  color: #666;
}

.origin_text_delete_button:hover {
  background-color: #d1d1d1;
  color: #222;
}

.origin_text_delete_button > svg {
  width: 13px;
  height: 13px;
}

.action_buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 12px 0;
}

.action_buttons > button {
  margin-right: 8px;
  border-radius: 5px;
  padding: 6px 10px;
  border: none;
  background-color: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  text-transform: capitalize;
  height: 28px;
}

.action_buttons > button:hover {
  background-color: #333;
}

.action_buttons > button:focus {
  outline: none;
}

.action_buttons > button > span {
  margin-left: 4px;
  padding: 2px 4px;
  background-color: #555;
  border-radius: 2px;
  font-size: 10px;
  height: 16px;
  display: flex;
  align-items: center;
}

.highlight-paragraph-button {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-color: #000;
  color: white;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  transition: all ease 0.2s;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.highlight-paragraph-button > svg {
  width: 16px !important;
  height: 16px !important;
}

.translated-paragraph-wrapper {
  position: relative;
  background-color: white;
  border: 1px solid #222;
  box-shadow: 4px 4px 0px 0 rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 12px;
}

.translated-paragraph {
  margin: 0 !important;
  padding: 8px 12px;
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  /* background-color: rgba(250, 0, 0, 0.08);
  color: rgba(255, 0, 0, 0.8); */
  font-size: 13px !important;
  font-weight: 600 !important;
  width: 100%;
  max-width: 100%;
}

.annotation-highlighted-text:not(.invalid) {
  color: #222;
}
